body {
  text-align: center;
  background-color: #dbe2ef;
}
h1 {
  font-size: 5rem;
  color: #112d4e;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #dbe2ef;
  margin-left: 5%;
}
footer {
  color: #3f72af;
  font-family: sans-serif;
  margin-top: 15%;
  margin-bottom: 5%;
}
button{
  vertical-align: top;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
.key {
  position: relative;
  left: 23px;
  margin: 0 -3px ;
  display: inline-block;
  outline: none;
  border-radius: 0.5rem;
  border: solid;
  font-size: 1.5rem;
  font-family: 'Arvo', cursive;
  background-color: white;
  line-height: 2;
  font-weight: 500;
  color: black;
  text-shadow: 3px 0 #dbe2ef;
  height: 15rem;
  width: 4rem;
  background-color: white;
  padding-top: 180px;
}
.dod4{
  position: absolute;
  z-index: 1;

}
.red4{
  position: absolute;
  z-index: 1;
}
.fad4{
  position: absolute;
  z-index: 1;
}
.sold4{
  position: absolute;
  z-index: 1;
}
.lad4{
  position: absolute;
  z-index: 1;
}
.diyez {
  outline: none;
  background-color: black;
  border-radius: 0.2rem;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 500;
  color: #dbe2ef;
  text-shadow: 3px 0 black;
  height: 10rem;
  width: 2.5rem;
  padding-top: 90px;
}
div{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flow-root;
  justify-content: center;
}
